flows.json
[
    {
        "id": "8632f2b8.e5292",
        "type": "tab",
        "label": "Meteo",
        "disabled": false,
        "info": ""
    },
    {
        "id": "557d497a.18f0c8",
        "type": "tab",
        "label": "Overview",
        "disabled": false,
        "info": ""
    },
    {
        "id": "37bf65d0.2750da",
        "type": "tab",
        "label": "Sala",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a3306a25.d81ac8",
        "type": "tab",
        "label": "Camera Nicola",
        "disabled": false,
        "info": ""
    },
    {
        "id": "31446cab.0a54a4",
        "type": "tab",
        "label": "Camera Andrea",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4c6b6b8f.28f984",
        "type": "tab",
        "label": "Camera matrimoniale",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f58c00f1e01abb9f",
        "type": "tab",
        "label": "websocket",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "965f3d6f.d5282",
        "type": "mqtt-broker",
        "name": "galileo",
        "broker": "192.168.1.2",
        "port": "1884",
        "clientid": "node1",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ccb6dfb0.9a224",
        "type": "ui_group",
        "name": "Temperatura Sud",
        "tab": "c9fa0e17.2e326",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e6a59d78.b2002",
        "type": "ui_group",
        "name": "Irraggiamento",
        "tab": "72da9230b326deed",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c9fa0e17.2e326",
        "type": "ui_tab",
        "name": "Temperatura",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ddacdc0.f8c752",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Centralina Riscaldamento",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d7c24e27.ee1d7",
        "type": "ui_tab",
        "name": "Sala",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e4cfee7d.c9315",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "d7c24e27.ee1d7",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3674120b.bce3be",
        "type": "ui_group",
        "name": "Temp. obbiettivo",
        "tab": "d7c24e27.ee1d7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "86114fe5.3d1b7",
        "type": "ui_tab",
        "name": "Camera Nicola",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "24fb100a.8adb6",
        "type": "ui_group",
        "name": "Temp. obbiettivo",
        "tab": "86114fe5.3d1b7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "86d45bb5.76b4f8",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "86114fe5.3d1b7",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2e286b6d.be20a4",
        "type": "ui_group",
        "name": "Opendata",
        "tab": "72da9230b326deed",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9605b1ff.918dc",
        "type": "ui_tab",
        "name": "Overview",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ab78bae6.dac748",
        "type": "ui_group",
        "name": "Temp",
        "tab": "9605b1ff.918dc",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e43aa042.2572b",
        "type": "ui_tab",
        "name": "Camera Andrea",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4d55f947.57e0d8",
        "type": "ui_group",
        "name": "Temp. obbiettivo",
        "tab": "e43aa042.2572b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4b9341ac.5cfd9",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "e43aa042.2572b",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b29ef0dd.8d659",
        "type": "ui_tab",
        "name": "Camera Matrimoniale",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "46340ca7.6bd7e4",
        "type": "ui_group",
        "name": "Temp. obbiettivo",
        "tab": "b29ef0dd.8d659",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bc9a3e3a.19436",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "b29ef0dd.8d659",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4469a851.913688",
        "type": "ui_group",
        "name": "Temp2",
        "tab": "9605b1ff.918dc",
        "order": 4,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "23795de0.4c4a2a",
        "type": "ui_group",
        "name": "Stato",
        "tab": "d7c24e27.ee1d7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e6fa4a1e.0ac0e",
        "type": "ui_group",
        "name": "Stato",
        "tab": "86114fe5.3d1b7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4002d468.7f34c4",
        "type": "ui_group",
        "name": "Stato",
        "tab": "e43aa042.2572b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "138f4f49.14a7c9",
        "type": "ui_group",
        "name": "Stato",
        "tab": "b29ef0dd.8d659",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "80696581.3750e8",
        "type": "ui_group",
        "name": "Room",
        "tab": "9605b1ff.918dc",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "93fc500b0ee1249a",
        "type": "ui_group",
        "name": "Temperatura Nord",
        "tab": "c9fa0e17.2e326",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "72da9230b326deed",
        "type": "ui_tab",
        "name": "Meteo",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "187488fefa41b035",
        "type": "ui_group",
        "name": "Trip",
        "tab": "9605b1ff.918dc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7bf49a2bc97ebdac",
        "type": "ui_spacer",
        "z": "4c6b6b8f.28f984",
        "name": "spacer",
        "group": "187488fefa41b035",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "26cec5113ca1a70a",
        "type": "websocket-client",
        "path": "ws://192.168.1.2:8100/v0_1/ws",
        "tls": "",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": ""
    },
    {
        "id": "231fb2a5afecf21a",
        "type": "ui_tab",
        "name": "websocket",
        "icon": "dashboard",
        "order": 8,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "86a4645b0b234808",
        "type": "ui_group",
        "name": "websocket",
        "tab": "231fb2a5afecf21a",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "83546b9fea0303a6",
        "type": "ui_group",
        "name": "Umidità",
        "tab": "b29ef0dd.8d659",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "695b357f.6a8b4c",
        "type": "mqtt in",
        "z": "8632f2b8.e5292",
        "name": "",
        "topic": "meteo/temp",
        "qos": "0",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 178,
        "y": 83,
        "wires": [
            [
                "58bd4e9b.631ef",
                "900e21a9.ef69e",
                "247a7211.05d60e",
                "633a7de7.e815b4",
                "d0a19bfd.69f2a8",
                "46461e0e.5b30e"
            ]
        ]
    },
    {
        "id": "58bd4e9b.631ef",
        "type": "debug",
        "z": "8632f2b8.e5292",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 422,
        "y": 23,
        "wires": []
    },
    {
        "id": "c44557eb.822478",
        "type": "debug",
        "z": "8632f2b8.e5292",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1230,
        "y": 80,
        "wires": []
    },
    {
        "id": "80f4e838.988918",
        "type": "mqtt in",
        "z": "8632f2b8.e5292",
        "name": "",
        "topic": "meteo/humidity",
        "qos": "0",
        "broker": "965f3d6f.d5282",
        "inputs": 0,
        "x": 849,
        "y": 129,
        "wires": [
            [
                "c44557eb.822478",
                "6dc434fb.10262c",
                "542b26f1.267f38"
            ]
        ]
    },
    {
        "id": "900e21a9.ef69e",
        "type": "ui_chart",
        "z": "8632f2b8.e5292",
        "name": "",
        "group": "ccb6dfb0.9a224",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Temperatura Sud",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 632,
        "y": 81,
        "wires": [
            []
        ]
    },
    {
        "id": "6dc434fb.10262c",
        "type": "ui_gauge",
        "z": "8632f2b8.e5292",
        "name": "",
        "group": "ccb6dfb0.9a224",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Umidità",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1217,
        "y": 168,
        "wires": []
    },
    {
        "id": "542b26f1.267f38",
        "type": "ui_chart",
        "z": "8632f2b8.e5292",
        "name": "",
        "group": "ccb6dfb0.9a224",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Umidità",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 1212,
        "y": 125,
        "wires": [
            []
        ]
    },
    {
        "id": "247a7211.05d60e",
        "type": "ui_gauge",
        "z": "8632f2b8.e5292",
        "name": "",
        "group": "ccb6dfb0.9a224",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Sud",
        "label": "°C",
        "format": "{{value}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#0080ff",
            "#008000",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "28",
        "x": 635,
        "y": 130,
        "wires": []
    },
    {
        "id": "4d06bb36.657e94",
        "type": "ui_text",
        "z": "8632f2b8.e5292",
        "group": "ccb6dfb0.9a224",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max Temperatura",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 608,
        "y": 185,
        "wires": []
    },
    {
        "id": "90371e1b.90a94",
        "type": "ui_text",
        "z": "8632f2b8.e5292",
        "group": "ccb6dfb0.9a224",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Min Temperatura",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 611,
        "y": 297,
        "wires": []
    },
    {
        "id": "85a1aca8.1bed8",
        "type": "ui_text",
        "z": "8632f2b8.e5292",
        "group": "ccb6dfb0.9a224",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Media Temperatura",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 611,
        "y": 236,
        "wires": []
    },
    {
        "id": "6feff44d.ea7cac",
        "type": "mqtt in",
        "z": "8632f2b8.e5292",
        "name": "",
        "topic": "meteo/wind_speed",
        "qos": "0",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "inputs": 0,
        "x": 230,
        "y": 460,
        "wires": [
            [
                "aa839692.1d5ea8",
                "e406cbc8.a6fe48",
                "bea687ab.a4e388"
            ]
        ]
    },
    {
        "id": "aa839692.1d5ea8",
        "type": "debug",
        "z": "8632f2b8.e5292",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 610,
        "y": 420,
        "wires": []
    },
    {
        "id": "e406cbc8.a6fe48",
        "type": "ui_gauge",
        "z": "8632f2b8.e5292",
        "name": "",
        "group": "2e286b6d.be20a4",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Velocità vento",
        "label": "m/s",
        "format": "{{value}}",
        "min": 0,
        "max": "25",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "x": 620,
        "y": 540,
        "wires": []
    },
    {
        "id": "bea687ab.a4e388",
        "type": "ui_chart",
        "z": "8632f2b8.e5292",
        "name": "",
        "group": "2e286b6d.be20a4",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Velocità vento",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 620,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "371db2bb.9b5b1e",
        "type": "debug",
        "z": "8632f2b8.e5292",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1170,
        "y": 400,
        "wires": []
    },
    {
        "id": "40f1dbf7.d4f4c4",
        "type": "ui_gauge",
        "z": "8632f2b8.e5292",
        "name": "",
        "group": "2e286b6d.be20a4",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "-20",
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "28",
        "x": 1170,
        "y": 540,
        "wires": []
    },
    {
        "id": "7b9a8c19.7222d4",
        "type": "ui_chart",
        "z": "8632f2b8.e5292",
        "name": "",
        "group": "2e286b6d.be20a4",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 1170,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "310731ef.5a6cae",
        "type": "mqtt in",
        "z": "8632f2b8.e5292",
        "name": "",
        "topic": "meteo/opentemp",
        "qos": "0",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "inputs": 0,
        "x": 880,
        "y": 480,
        "wires": [
            [
                "371db2bb.9b5b1e",
                "7b9a8c19.7222d4",
                "40f1dbf7.d4f4c4"
            ]
        ]
    },
    {
        "id": "633a7de7.e815b4",
        "type": "smooth",
        "z": "8632f2b8.e5292",
        "name": "",
        "property": "payload",
        "action": "max",
        "count": "288",
        "round": "",
        "mult": "single",
        "x": 382,
        "y": 186,
        "wires": [
            [
                "4d06bb36.657e94"
            ]
        ]
    },
    {
        "id": "d0a19bfd.69f2a8",
        "type": "smooth",
        "z": "8632f2b8.e5292",
        "name": "",
        "property": "payload",
        "action": "min",
        "count": "288",
        "round": "1",
        "mult": "single",
        "x": 379,
        "y": 295,
        "wires": [
            [
                "90371e1b.90a94"
            ]
        ]
    },
    {
        "id": "46461e0e.5b30e",
        "type": "smooth",
        "z": "8632f2b8.e5292",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "288",
        "round": "1",
        "mult": "single",
        "x": 380,
        "y": 234,
        "wires": [
            [
                "85a1aca8.1bed8"
            ]
        ]
    },
    {
        "id": "80f466da8da3cf13",
        "type": "mqtt in",
        "z": "8632f2b8.e5292",
        "name": "",
        "topic": "meteo/opentemp",
        "qos": "0",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "inputs": 0,
        "x": 880,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "6baed0f78d628039",
        "type": "mqtt in",
        "z": "8632f2b8.e5292",
        "name": "weather ID",
        "topic": "meteo/openid",
        "qos": "0",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 200,
        "y": 700,
        "wires": [
            [
                "5bbfa8cdedb531bd"
            ]
        ]
    },
    {
        "id": "5bbfa8cdedb531bd",
        "type": "ui_text",
        "z": "8632f2b8.e5292",
        "group": "2e286b6d.be20a4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "ID",
        "label": "Weather ID",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 540,
        "y": 700,
        "wires": []
    },
    {
        "id": "7fb3e3b2f006bac7",
        "type": "mqtt in",
        "z": "8632f2b8.e5292",
        "name": "radiation",
        "topic": "meteo/radiation/globalsky",
        "qos": "1",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 780,
        "y": 700,
        "wires": [
            [
                "cf03e992493ca497",
                "64b5c9a6e68401de",
                "aa6affaf334bb7ca"
            ]
        ]
    },
    {
        "id": "cf03e992493ca497",
        "type": "ui_chart",
        "z": "8632f2b8.e5292",
        "name": "",
        "group": "e6a59d78.b2002",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Irraggiamento",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1060,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "64b5c9a6e68401de",
        "type": "ui_gauge",
        "z": "8632f2b8.e5292",
        "name": "",
        "group": "e6a59d78.b2002",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Irraggiamento",
        "label": "W/m2",
        "format": "{{value}}",
        "min": "0",
        "max": "1200",
        "colors": [
            "#1589d1",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "200",
        "seg2": "500",
        "x": 1060,
        "y": 640,
        "wires": []
    },
    {
        "id": "3dee62b1e383c30a",
        "type": "mqtt in",
        "z": "8632f2b8.e5292",
        "name": "Ext_temp",
        "topic": "shellies/shelly1-ext-temp/ext_temperature/0",
        "qos": "0",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 200,
        "y": 920,
        "wires": [
            [
                "74da647ef4c2dc0b",
                "b5549b195966bfb6"
            ]
        ],
        "info": "192.168.1."
    },
    {
        "id": "615e7894bab27a14",
        "type": "ui_gauge",
        "z": "8632f2b8.e5292",
        "name": "",
        "group": "93fc500b0ee1249a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Nord",
        "label": "°C",
        "format": "{{value}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#0080ff",
            "#008000",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "28",
        "x": 930,
        "y": 1000,
        "wires": []
    },
    {
        "id": "1fba7e406bfa91c2",
        "type": "ui_chart",
        "z": "8632f2b8.e5292",
        "name": "",
        "group": "93fc500b0ee1249a",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Temperatura Nord",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 930,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "a21cd40902cd14cb",
        "type": "ui_text",
        "z": "8632f2b8.e5292",
        "group": "93fc500b0ee1249a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max Temperatura",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 1080,
        "wires": []
    },
    {
        "id": "043e0fae1a059a93",
        "type": "ui_text",
        "z": "8632f2b8.e5292",
        "group": "93fc500b0ee1249a",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Min Temperatura",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 1160,
        "wires": []
    },
    {
        "id": "8d9b455db5995bce",
        "type": "ui_text",
        "z": "8632f2b8.e5292",
        "group": "93fc500b0ee1249a",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Media Temperatura",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 1120,
        "wires": []
    },
    {
        "id": "598ebfdd608b1ec4",
        "type": "smooth",
        "z": "8632f2b8.e5292",
        "name": "",
        "property": "payload",
        "action": "max",
        "count": "288",
        "round": "",
        "mult": "single",
        "x": 660,
        "y": 1080,
        "wires": [
            [
                "a21cd40902cd14cb"
            ]
        ]
    },
    {
        "id": "342b3156a171d5e9",
        "type": "smooth",
        "z": "8632f2b8.e5292",
        "name": "",
        "property": "payload",
        "action": "min",
        "count": "288",
        "round": "1",
        "mult": "single",
        "x": 660,
        "y": 1160,
        "wires": [
            [
                "043e0fae1a059a93"
            ]
        ]
    },
    {
        "id": "c4f4326cb5b2a7be",
        "type": "smooth",
        "z": "8632f2b8.e5292",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "288",
        "round": "1",
        "mult": "single",
        "x": 660,
        "y": 1120,
        "wires": [
            [
                "8d9b455db5995bce"
            ]
        ]
    },
    {
        "id": "74da647ef4c2dc0b",
        "type": "rbe",
        "z": "8632f2b8.e5292",
        "name": "",
        "func": "narrowband",
        "gap": "100%",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 410,
        "y": 920,
        "wires": [
            [
                "615e7894bab27a14",
                "598ebfdd608b1ec4",
                "c4f4326cb5b2a7be",
                "342b3156a171d5e9",
                "1a9a54d19032211c"
            ]
        ]
    },
    {
        "id": "c8398ecf8abc8bdb",
        "type": "inject",
        "z": "8632f2b8.e5292",
        "name": "reset graph",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 670,
        "y": 860,
        "wires": [
            [
                "1fba7e406bfa91c2"
            ]
        ]
    },
    {
        "id": "1a9a54d19032211c",
        "type": "function",
        "z": "8632f2b8.e5292",
        "name": "topic temp",
        "func": "var newMsg = { topic: \"Temp. Nord\", payload: msg.payload };\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 920,
        "wires": [
            [
                "1fba7e406bfa91c2"
            ]
        ]
    },
    {
        "id": "aa6affaf334bb7ca",
        "type": "ui_chart",
        "z": "8632f2b8.e5292",
        "name": "",
        "group": "e6a59d78.b2002",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Irraggiamento gior.",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "b5549b195966bfb6",
        "type": "debug",
        "z": "8632f2b8.e5292",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 860,
        "wires": []
    },
    {
        "id": "29d283c0.4e6e5c",
        "type": "ui_gauge",
        "z": "557d497a.18f0c8",
        "name": "",
        "group": "ab78bae6.dac748",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Sala",
        "label": "°C",
        "format": "{{value}}",
        "min": "10",
        "max": "35",
        "colors": [
            "#0000ff",
            "#00bf00",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "23",
        "x": 410,
        "y": 80,
        "wires": []
    },
    {
        "id": "3bd4a181.3c786e",
        "type": "ui_gauge",
        "z": "557d497a.18f0c8",
        "name": "",
        "group": "4469a851.913688",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Camera Andrea",
        "label": "°C",
        "format": "{{value}}",
        "min": "10",
        "max": "35",
        "colors": [
            "#0000ff",
            "#00bf00",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "23",
        "x": 420,
        "y": 160,
        "wires": []
    },
    {
        "id": "1cb1dfd3.25421",
        "type": "link in",
        "z": "557d497a.18f0c8",
        "name": "",
        "links": [
            "b45568f5.4e1bf8"
        ],
        "x": 195,
        "y": 80,
        "wires": [
            [
                "29d283c0.4e6e5c"
            ]
        ]
    },
    {
        "id": "82cab67b.07dbe8",
        "type": "link in",
        "z": "557d497a.18f0c8",
        "name": "",
        "links": [
            "25e50c9f.080154"
        ],
        "x": 185,
        "y": 160,
        "wires": [
            [
                "3bd4a181.3c786e"
            ]
        ]
    },
    {
        "id": "43979795.1204b8",
        "type": "link in",
        "z": "557d497a.18f0c8",
        "name": "",
        "links": [
            "6f30c2b7.575e5c"
        ],
        "x": 775,
        "y": 160,
        "wires": [
            [
                "8a295a27.9c1188"
            ]
        ]
    },
    {
        "id": "809242e8.0741f",
        "type": "ui_gauge",
        "z": "557d497a.18f0c8",
        "name": "",
        "group": "4469a851.913688",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Camera Nicola",
        "label": "°C",
        "format": "{{value}}",
        "min": "10",
        "max": "35",
        "colors": [
            "#0000ff",
            "#00bf00",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "23",
        "x": 1000,
        "y": 80,
        "wires": []
    },
    {
        "id": "8a295a27.9c1188",
        "type": "ui_gauge",
        "z": "557d497a.18f0c8",
        "name": "",
        "group": "ab78bae6.dac748",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Camera Mat.",
        "label": "°C",
        "format": "{{value}}",
        "min": "10",
        "max": "35",
        "colors": [
            "#0000ff",
            "#00bf00",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "23",
        "x": 990,
        "y": 160,
        "wires": []
    },
    {
        "id": "1ff2b452.db2fcc",
        "type": "link in",
        "z": "557d497a.18f0c8",
        "name": "",
        "links": [
            "f0143fb6.bc142"
        ],
        "x": 775,
        "y": 80,
        "wires": [
            [
                "809242e8.0741f"
            ]
        ]
    },
    {
        "id": "46f247a1.bf8908",
        "type": "mqtt in",
        "z": "557d497a.18f0c8",
        "name": "room on",
        "topic": "CIR/diag/room_on/",
        "qos": "0",
        "datatype": "utf8",
        "broker": "965f3d6f.d5282",
        "inputs": 0,
        "x": 220,
        "y": 240,
        "wires": [
            [
                "5b912c22.b25fb4",
                "4e254c6a77f240ba",
                "a8ed14a9fc87925f"
            ]
        ]
    },
    {
        "id": "5b912c22.b25fb4",
        "type": "ui_chart",
        "z": "557d497a.18f0c8",
        "name": "",
        "group": "80696581.3750e8",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Stanze accese",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 520,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "bb6bac9e946fc02e",
        "type": "mqtt in",
        "z": "557d497a.18f0c8",
        "name": "test",
        "topic": "shellies/shellyht-xxxxxx/sensor/temperature",
        "qos": "0",
        "datatype": "utf8",
        "broker": "965f3d6f.d5282",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 210,
        "y": 420,
        "wires": [
            [
                "e47e0996d4f8386b"
            ]
        ]
    },
    {
        "id": "e47e0996d4f8386b",
        "type": "debug",
        "z": "557d497a.18f0c8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 420,
        "wires": []
    },
    {
        "id": "4363a617253e2fa1",
        "type": "mqtt out",
        "z": "557d497a.18f0c8",
        "name": "holiday",
        "topic": "CIR/holiday/enable",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "965f3d6f.d5282",
        "x": 700,
        "y": 560,
        "wires": []
    },
    {
        "id": "7f6d36b73e10f36b",
        "type": "ui_text_input",
        "z": "557d497a.18f0c8",
        "name": "",
        "label": "data e ora di rientro",
        "tooltip": "",
        "group": "187488fefa41b035",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "datetime-local",
        "delay": "200",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 950,
        "y": 560,
        "wires": [
            [
                "404338fd2813efb9"
            ]
        ]
    },
    {
        "id": "404338fd2813efb9",
        "type": "mqtt out",
        "z": "557d497a.18f0c8",
        "name": "orario holiday",
        "topic": "CIR/holiday/orario",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "965f3d6f.d5282",
        "x": 1280,
        "y": 560,
        "wires": []
    },
    {
        "id": "193cd5eaed350656",
        "type": "mqtt in",
        "z": "557d497a.18f0c8",
        "name": "set holiday",
        "topic": "CIR/holiday/set",
        "qos": "0",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 240,
        "y": 560,
        "wires": [
            [
                "2ae4f4f18e37a374",
                "6f62b8d173b9c8e0"
            ]
        ]
    },
    {
        "id": "2ae4f4f18e37a374",
        "type": "debug",
        "z": "557d497a.18f0c8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 500,
        "wires": []
    },
    {
        "id": "feff66ef99b49ea6",
        "type": "ui_led",
        "z": "557d497a.18f0c8",
        "order": 1,
        "group": "187488fefa41b035",
        "width": 0,
        "height": 0,
        "label": "Abilitazione Gita",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffff00",
                "value": "False",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "True",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "led abilitazione gita",
        "x": 730,
        "y": 620,
        "wires": []
    },
    {
        "id": "6f62b8d173b9c8e0",
        "type": "ui_switch",
        "z": "557d497a.18f0c8",
        "name": "",
        "label": "Abilitazione Gita",
        "tooltip": "",
        "group": "187488fefa41b035",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "True",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "False",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 460,
        "y": 560,
        "wires": [
            [
                "4363a617253e2fa1",
                "1b50b695e692f4bd",
                "feff66ef99b49ea6"
            ]
        ]
    },
    {
        "id": "1b50b695e692f4bd",
        "type": "debug",
        "z": "557d497a.18f0c8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 500,
        "wires": []
    },
    {
        "id": "e9e8e1939de0e6cd",
        "type": "mqtt in",
        "z": "557d497a.18f0c8",
        "name": "Master enable",
        "topic": "CIR/enable/home",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "965f3d6f.d5282",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 250,
        "y": 680,
        "wires": [
            [
                "f14b99b361ce2f66"
            ]
        ]
    },
    {
        "id": "f14b99b361ce2f66",
        "type": "ui_led",
        "z": "557d497a.18f0c8",
        "order": 1,
        "group": "80696581.3750e8",
        "width": 0,
        "height": 0,
        "label": "Abilitazione Generale",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "False",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "True",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "led abilitazione generale",
        "x": 730,
        "y": 680,
        "wires": []
    },
    {
        "id": "4e254c6a77f240ba",
        "type": "ui_gauge",
        "z": "557d497a.18f0c8",
        "name": "",
        "group": "80696581.3750e8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "N Stanze accese",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 240,
        "wires": []
    },
    {
        "id": "49de9aa005d39ad2",
        "type": "ui_led",
        "z": "557d497a.18f0c8",
        "order": 1,
        "group": "ab78bae6.dac748",
        "width": 0,
        "height": 0,
        "label": "Sala",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#0000ff",
                "value": "off",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "on",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "Sala",
        "x": 1050,
        "y": 280,
        "wires": []
    },
    {
        "id": "08b74296c1f26114",
        "type": "link in",
        "z": "557d497a.18f0c8",
        "name": "stato rele sala",
        "links": [
            "db125fabc33e25f3"
        ],
        "x": 875,
        "y": 280,
        "wires": [
            [
                "49de9aa005d39ad2"
            ]
        ]
    },
    {
        "id": "d5274102c22c75d1",
        "type": "ui_led",
        "z": "557d497a.18f0c8",
        "order": 3,
        "group": "ab78bae6.dac748",
        "width": 0,
        "height": 0,
        "label": "Camera Mat.",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#0000ff",
                "value": "off",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "on",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "Camera matrimoniale",
        "x": 1100,
        "y": 340,
        "wires": []
    },
    {
        "id": "e051e33e0c0c8519",
        "type": "link in",
        "z": "557d497a.18f0c8",
        "name": "stato rele sala",
        "links": [
            "80bc1df6b7ade61b"
        ],
        "x": 875,
        "y": 340,
        "wires": [
            [
                "d5274102c22c75d1"
            ]
        ]
    },
    {
        "id": "7cb47a16bbd877af",
        "type": "ui_led",
        "z": "557d497a.18f0c8",
        "order": 3,
        "group": "4469a851.913688",
        "width": 0,
        "height": 0,
        "label": "Camera Nicola",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#0000ff",
                "value": "off",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "on",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "Camera Nik",
        "x": 1070,
        "y": 400,
        "wires": []
    },
    {
        "id": "206604612bb260bd",
        "type": "link in",
        "z": "557d497a.18f0c8",
        "name": "stato rele sala",
        "links": [
            "d2db07f333374bdd"
        ],
        "x": 875,
        "y": 400,
        "wires": [
            [
                "7cb47a16bbd877af"
            ]
        ]
    },
    {
        "id": "25e44505e8271b14",
        "type": "ui_led",
        "z": "557d497a.18f0c8",
        "order": 1,
        "group": "4469a851.913688",
        "width": 0,
        "height": 0,
        "label": "Camera Andrea",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#0000ff",
                "value": "off",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "on",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "Camera Andrea",
        "x": 1080,
        "y": 460,
        "wires": []
    },
    {
        "id": "d9b62ab33251ae7b",
        "type": "link in",
        "z": "557d497a.18f0c8",
        "name": "stato rele sala",
        "links": [
            "2fce3f79e87ee2eb"
        ],
        "x": 875,
        "y": 460,
        "wires": [
            [
                "25e44505e8271b14"
            ]
        ]
    },
    {
        "id": "a8ed14a9fc87925f",
        "type": "ui_chart",
        "z": "557d497a.18f0c8",
        "name": "",
        "group": "80696581.3750e8",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Stanze accese zoom",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 540,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "b2c002825688096f",
        "type": "ui_numeric",
        "z": "557d497a.18f0c8",
        "name": "",
        "label": "Temp. ridotta",
        "tooltip": "",
        "group": "187488fefa41b035",
        "order": 5,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "15",
        "max": "20",
        "step": "0.5",
        "className": "",
        "x": 250,
        "y": 820,
        "wires": [
            [
                "04bb78e27ecd263c"
            ]
        ]
    },
    {
        "id": "04bb78e27ecd263c",
        "type": "mqtt out",
        "z": "557d497a.18f0c8",
        "name": "temperatura ridotta",
        "topic": "CIR/reduced/temperature",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "965f3d6f.d5282",
        "x": 510,
        "y": 820,
        "wires": []
    },
    {
        "id": "e83cf5d1cd3d796f",
        "type": "ui_switch",
        "z": "557d497a.18f0c8",
        "name": "",
        "label": "Abilitazione temp. ridotta",
        "tooltip": "",
        "group": "187488fefa41b035",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 310,
        "y": 900,
        "wires": [
            [
                "f401a8593d854dab"
            ]
        ]
    },
    {
        "id": "f401a8593d854dab",
        "type": "mqtt out",
        "z": "557d497a.18f0c8",
        "name": "abilitazione ridotto",
        "topic": "CIR/reduced/enable",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "965f3d6f.d5282",
        "x": 610,
        "y": 900,
        "wires": []
    },
    {
        "id": "19aa58f7b0a8f3bc",
        "type": "websocket out",
        "z": "557d497a.18f0c8",
        "d": true,
        "name": "alive",
        "server": "",
        "client": "26cec5113ca1a70a",
        "x": 970,
        "y": 1060,
        "wires": []
    },
    {
        "id": "4761d6229d21132c",
        "type": "inject",
        "z": "557d497a.18f0c8",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 1060,
        "wires": [
            [
                "3e67c49c9cae9d45"
            ]
        ]
    },
    {
        "id": "1093e84db70f7ea7",
        "type": "websocket in",
        "z": "557d497a.18f0c8",
        "d": true,
        "name": "",
        "server": "",
        "client": "26cec5113ca1a70a",
        "x": 240,
        "y": 1160,
        "wires": [
            [
                "119b33c1d168fe09"
            ]
        ]
    },
    {
        "id": "6d45553becc96eb4",
        "type": "e-mail",
        "z": "557d497a.18f0c8",
        "server": "smtp.apollonio.net",
        "port": "25",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": false,
        "tls": false,
        "name": "zadig@apollonio.net",
        "dname": "mailto",
        "x": 1230,
        "y": 1160,
        "wires": []
    },
    {
        "id": "119b33c1d168fe09",
        "type": "json",
        "z": "557d497a.18f0c8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 1160,
        "wires": [
            [
                "57250f2bf00a2ef4"
            ]
        ]
    },
    {
        "id": "57250f2bf00a2ef4",
        "type": "change",
        "z": "557d497a.18f0c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"count\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload-1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1160,
        "wires": [
            [
                "d6a8dbb2a241d5ce"
            ]
        ]
    },
    {
        "id": "d6a8dbb2a241d5ce",
        "type": "switch",
        "z": "557d497a.18f0c8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "count",
                "vt": "flow"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 1160,
        "wires": [
            [
                "8bb0c7efd9037c3e"
            ],
            [
                "6a79221be061c468"
            ]
        ]
    },
    {
        "id": "ac70e29e42b4aba8",
        "type": "comment",
        "z": "557d497a.18f0c8",
        "name": "",
        "info": "Node per verificare che cir_engine sta funzionando",
        "x": 160,
        "y": 1020,
        "wires": []
    },
    {
        "id": "8bb0c7efd9037c3e",
        "type": "change",
        "z": "557d497a.18f0c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "cir_engine is not working: fail alive message",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 1160,
        "wires": [
            [
                "6d45553becc96eb4"
            ]
        ]
    },
    {
        "id": "3e67c49c9cae9d45",
        "type": "moment",
        "z": "557d497a.18f0c8",
        "name": "",
        "topic": "count",
        "input": "timestamp",
        "inputType": "msg",
        "inTz": "Europe/Rome",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "s",
        "locale": "en-US",
        "output": "count",
        "outputType": "msg",
        "outTz": "Europe/Rome",
        "x": 310,
        "y": 1060,
        "wires": [
            [
                "01ecf362ece6c41d",
                "659df99fe84ea25b"
            ]
        ]
    },
    {
        "id": "659df99fe84ea25b",
        "type": "template",
        "z": "557d497a.18f0c8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "alive {{count}} {{timestamp}}",
        "output": "str",
        "x": 780,
        "y": 1060,
        "wires": [
            [
                "19aa58f7b0a8f3bc"
            ]
        ]
    },
    {
        "id": "01ecf362ece6c41d",
        "type": "change",
        "z": "557d497a.18f0c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(count)\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "count",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "6a79221be061c468",
        "type": "debug",
        "z": "557d497a.18f0c8",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 1220,
        "wires": []
    },
    {
        "id": "0209dae2f877ea3c",
        "type": "status",
        "z": "557d497a.18f0c8",
        "name": "",
        "scope": [
            "1093e84db70f7ea7"
        ],
        "x": 200,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "ab8884d1.3326c8",
        "type": "mqtt in",
        "z": "37bf65d0.2750da",
        "name": "shelly_temp",
        "topic": "shellies/shellyht-58EB64/sensor/temperature",
        "qos": "1",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 127,
        "y": 42,
        "wires": [
            [
                "592713b8018b1ed7"
            ]
        ]
    },
    {
        "id": "ffdceda3.ebc8e",
        "type": "debug",
        "z": "37bf65d0.2750da",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 506,
        "y": 100,
        "wires": []
    },
    {
        "id": "40300229.88528c",
        "type": "ui_gauge",
        "z": "37bf65d0.2750da",
        "name": "",
        "group": "e4cfee7d.c9315",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Sala",
        "label": "°C",
        "format": "{{value}}",
        "min": "10",
        "max": "35",
        "colors": [
            "#0000ff",
            "#00bf00",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "23",
        "x": 570,
        "y": 180,
        "wires": []
    },
    {
        "id": "d758b8d1.90b8b8",
        "type": "ui_chart",
        "z": "37bf65d0.2750da",
        "name": "Sala Temp grafico",
        "group": "e4cfee7d.c9315",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff8000",
            "#12f9fd",
            "#037c07",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 750,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "8728854a.3c2108",
        "type": "inject",
        "z": "37bf65d0.2750da",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "shellies/shelly1-B97B5D/relay/0/command",
        "payload": "on",
        "payloadType": "str",
        "x": 930,
        "y": 920,
        "wires": [
            [
                "34a6299e.947a46"
            ]
        ]
    },
    {
        "id": "34a6299e.947a46",
        "type": "mqtt out",
        "z": "37bf65d0.2750da",
        "name": "rele",
        "topic": "",
        "qos": "0",
        "retain": "",
        "broker": "965f3d6f.d5282",
        "x": 1186,
        "y": 919,
        "wires": []
    },
    {
        "id": "14d2034f.a51a9d",
        "type": "inject",
        "z": "37bf65d0.2750da",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "shellies/shelly1-B97B5D/relay/0/command",
        "payload": "off",
        "payloadType": "str",
        "x": 928,
        "y": 974,
        "wires": [
            [
                "34a6299e.947a46"
            ]
        ]
    },
    {
        "id": "df3ba7fe.bffe78",
        "type": "inject",
        "z": "37bf65d0.2750da",
        "name": "toggle",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "shellies/shelly1-B97B5D/relay/0/command",
        "payload": "toggle",
        "payloadType": "str",
        "x": 928,
        "y": 866,
        "wires": [
            [
                "34a6299e.947a46"
            ]
        ]
    },
    {
        "id": "cd87c20d.0e7f3",
        "type": "mqtt in",
        "z": "37bf65d0.2750da",
        "name": "relay",
        "topic": "shellies/shelly1-B97B5D/relay/0",
        "qos": "0",
        "broker": "965f3d6f.d5282",
        "inputs": 0,
        "x": 830,
        "y": 320,
        "wires": [
            [
                "aa646adb.efdc38",
                "db125fabc33e25f3",
                "c5ced26696592d46"
            ]
        ]
    },
    {
        "id": "1b9a1b00.e27515",
        "type": "mqtt out",
        "z": "37bf65d0.2750da",
        "name": "",
        "topic": "CIR/setpoint/sala",
        "qos": "0",
        "retain": "true",
        "broker": "965f3d6f.d5282",
        "x": 642,
        "y": 898,
        "wires": []
    },
    {
        "id": "440765.790f989c",
        "type": "ui_gauge",
        "z": "37bf65d0.2750da",
        "d": true,
        "name": "",
        "group": "3674120b.bce3be",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Manule",
        "label": "units",
        "format": "{{value}}",
        "min": "15",
        "max": "23",
        "colors": [
            "#4b42ff",
            "#05d500",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "21",
        "className": "",
        "x": 614,
        "y": 984,
        "wires": []
    },
    {
        "id": "364ba5af.93977a",
        "type": "mqtt out",
        "z": "37bf65d0.2750da",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "965f3d6f.d5282",
        "x": 550,
        "y": 700,
        "wires": []
    },
    {
        "id": "aef16af3.f41cf8",
        "type": "ui_switch",
        "z": "37bf65d0.2750da",
        "name": "",
        "label": "Riscaldamento automatico",
        "tooltip": "",
        "group": "3674120b.bce3be",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "CIR/setpoint/mode/sala",
        "topicType": "str",
        "style": "",
        "onvalue": "auto",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "manuale",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 320,
        "y": 740,
        "wires": [
            [
                "364ba5af.93977a",
                "82481236.62da2"
            ]
        ]
    },
    {
        "id": "82481236.62da2",
        "type": "debug",
        "z": "37bf65d0.2750da",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 550,
        "y": 760,
        "wires": []
    },
    {
        "id": "b735450.89028b8",
        "type": "ui_text",
        "z": "37bf65d0.2750da",
        "group": "3674120b.bce3be",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Setpoint Sala Auto view",
        "label": "Setpoint Temperatura Sala",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 470,
        "y": 620,
        "wires": []
    },
    {
        "id": "ef08bacc.786798",
        "type": "mqtt in",
        "z": "37bf65d0.2750da",
        "name": "setpoint auto view",
        "topic": "CIR/setpoint/view/sala",
        "qos": "0",
        "broker": "965f3d6f.d5282",
        "inputs": 0,
        "x": 201,
        "y": 619,
        "wires": [
            [
                "b735450.89028b8"
            ]
        ]
    },
    {
        "id": "dbf1287f.3978c8",
        "type": "mqtt in",
        "z": "37bf65d0.2750da",
        "name": "setpoint PID sala",
        "topic": "CIR/setpoint/pid/sala",
        "qos": "0",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 200,
        "y": 520,
        "wires": [
            [
                "d758b8d1.90b8b8"
            ]
        ]
    },
    {
        "id": "4891f639.67c4e8",
        "type": "ui_chart",
        "z": "37bf65d0.2750da",
        "name": "PID out",
        "group": "e4cfee7d.c9315",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "PID out",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff8000",
            "#00ffff",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "aa646adb.efdc38",
        "type": "function",
        "z": "37bf65d0.2750da",
        "name": "onoff",
        "func": "if (msg.payload === \"on\") {\n    var newMsg = { payload: '1' };\n    return newMsg;\n} else {\n    var newMsg = { payload: '0' };\n    return newMsg\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 360,
        "wires": [
            [
                "6cc3471d.009208",
                "b125b7be.69ef68"
            ]
        ]
    },
    {
        "id": "6cc3471d.009208",
        "type": "debug",
        "z": "37bf65d0.2750da",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1210,
        "y": 360,
        "wires": []
    },
    {
        "id": "62410f4a.6a427",
        "type": "inject",
        "z": "37bf65d0.2750da",
        "name": "reset graph",
        "props": [
            {
                "p": "payload",
                "v": "[]",
                "vt": "json"
            },
            {
                "p": "topic",
                "v": "shellies/shelly1-B97B5D/relay/0",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "shellies/shelly1-B97B5D/relay/0",
        "payload": "[]",
        "payloadType": "json",
        "x": 207,
        "y": 450,
        "wires": [
            [
                "d758b8d1.90b8b8",
                "4891f639.67c4e8"
            ]
        ]
    },
    {
        "id": "4a158689.e57d78",
        "type": "function",
        "z": "37bf65d0.2750da",
        "name": "topic temp",
        "func": "var newMsg = { topic: \"Temp. Sala\", payload: msg.payload };\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 320,
        "wires": [
            [
                "d758b8d1.90b8b8"
            ]
        ]
    },
    {
        "id": "98095b61.2383d8",
        "type": "mqtt in",
        "z": "37bf65d0.2750da",
        "name": "PID out sala",
        "topic": "CIR/pid/sala",
        "qos": "0",
        "broker": "965f3d6f.d5282",
        "inputs": 0,
        "x": 859,
        "y": 733,
        "wires": [
            [
                "4891f639.67c4e8",
                "b3a160c3.c806a"
            ]
        ]
    },
    {
        "id": "b3a160c3.c806a",
        "type": "debug",
        "z": "37bf65d0.2750da",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1183,
        "y": 738,
        "wires": []
    },
    {
        "id": "20f84617.7fd84a",
        "type": "ui_numeric",
        "z": "37bf65d0.2750da",
        "name": "",
        "label": "T. manuale",
        "tooltip": "",
        "group": "3674120b.bce3be",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "format": "{{value}}",
        "min": "15",
        "max": "23",
        "step": "0.5",
        "x": 162,
        "y": 912,
        "wires": [
            [
                "1b9a1b00.e27515",
                "440765.790f989c"
            ]
        ]
    },
    {
        "id": "f5f5ebfd.086e28",
        "type": "mqtt in",
        "z": "37bf65d0.2750da",
        "name": "Sensor temp",
        "topic": "CIR/sensor_temp/sala",
        "qos": "0",
        "broker": "965f3d6f.d5282",
        "inputs": 0,
        "x": 123,
        "y": 123,
        "wires": [
            [
                "ffdceda3.ebc8e",
                "4a158689.e57d78",
                "b45568f5.4e1bf8",
                "40300229.88528c"
            ]
        ]
    },
    {
        "id": "b45568f5.4e1bf8",
        "type": "link out",
        "z": "37bf65d0.2750da",
        "name": "temp sala",
        "links": [
            "1cb1dfd3.25421"
        ],
        "x": 445,
        "y": 60,
        "wires": []
    },
    {
        "id": "b125b7be.69ef68",
        "type": "ui_chart",
        "z": "37bf65d0.2750da",
        "name": "Relè sala",
        "group": "e4cfee7d.c9315",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "stato rele",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff8000",
            "#00ffff",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 1200,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "3bb6dd00.dd3be4",
        "type": "mqtt in",
        "z": "37bf65d0.2750da",
        "name": "Abilitazione sala",
        "topic": "CIR/enable/raw/sala",
        "qos": "0",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 820,
        "y": 160,
        "wires": [
            [
                "25a99663.e0005a",
                "7e4de8ca.f9ef68",
                "e02a5a47fe5ef56b"
            ]
        ]
    },
    {
        "id": "25a99663.e0005a",
        "type": "ui_switch",
        "z": "37bf65d0.2750da",
        "name": "",
        "label": "Abilitazione",
        "tooltip": "",
        "group": "23795de0.4c4a2a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "CIR/enable/state/sala",
        "style": "",
        "onvalue": "True",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "False",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 1030,
        "y": 160,
        "wires": [
            [
                "36123396.2cc11c"
            ]
        ]
    },
    {
        "id": "36123396.2cc11c",
        "type": "mqtt out",
        "z": "37bf65d0.2750da",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "965f3d6f.d5282",
        "x": 1210,
        "y": 160,
        "wires": []
    },
    {
        "id": "2accb9f2.f7cbf6",
        "type": "mqtt in",
        "z": "37bf65d0.2750da",
        "name": "Diag sala",
        "topic": "CIR/diag/sala",
        "qos": "0",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "inputs": 0,
        "x": 800,
        "y": 80,
        "wires": [
            [
                "3983e2b3.4209ee"
            ]
        ]
    },
    {
        "id": "3983e2b3.4209ee",
        "type": "ui_led",
        "z": "37bf65d0.2750da",
        "order": 3,
        "group": "23795de0.4c4a2a",
        "width": 0,
        "height": 0,
        "label": "Diagnosi",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "str"
            },
            {
                "color": "#49e449",
                "value": "true",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "Error",
        "x": 990,
        "y": 80,
        "wires": []
    },
    {
        "id": "7e4de8ca.f9ef68",
        "type": "ui_led",
        "z": "37bf65d0.2750da",
        "order": 1,
        "group": "23795de0.4c4a2a",
        "width": 0,
        "height": 0,
        "label": "Attivazione",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "False",
                "valueType": "str"
            },
            {
                "color": "#49e449",
                "value": "True",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "abilitazione led",
        "x": 1040,
        "y": 220,
        "wires": []
    },
    {
        "id": "592713b8018b1ed7",
        "type": "debug",
        "z": "37bf65d0.2750da",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 20,
        "wires": []
    },
    {
        "id": "e02a5a47fe5ef56b",
        "type": "debug",
        "z": "37bf65d0.2750da",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 100,
        "wires": []
    },
    {
        "id": "db125fabc33e25f3",
        "type": "link out",
        "z": "37bf65d0.2750da",
        "name": "stato rele sala",
        "mode": "link",
        "links": [
            "08b74296c1f26114"
        ],
        "x": 1025,
        "y": 320,
        "wires": []
    },
    {
        "id": "c5ced26696592d46",
        "type": "ui_led",
        "z": "37bf65d0.2750da",
        "order": 4,
        "group": "23795de0.4c4a2a",
        "width": 0,
        "height": 0,
        "label": "Stato Riscaldamento",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#0000ff",
                "value": "off",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "on",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "led rele sala",
        "x": 1070,
        "y": 280,
        "wires": []
    },
    {
        "id": "36d5f2203f1b97ca",
        "type": "mqtt in",
        "z": "37bf65d0.2750da",
        "name": "",
        "topic": "shellyplusht-sala/events/rpc",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "965f3d6f.d5282",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 1120,
        "wires": [
            [
                "180da0cc7eaa42de",
                "613e5268738f2b24"
            ]
        ]
    },
    {
        "id": "180da0cc7eaa42de",
        "type": "debug",
        "z": "37bf65d0.2750da",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 1080,
        "wires": []
    },
    {
        "id": "613e5268738f2b24",
        "type": "switch",
        "z": "37bf65d0.2750da",
        "name": "",
        "property": "payload.method",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "NotifyFullStatus",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 1120,
        "wires": [
            [
                "9f7222b58d7aa867"
            ]
        ]
    },
    {
        "id": "cd2e05edc8918421",
        "type": "debug",
        "z": "37bf65d0.2750da",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 1120,
        "wires": []
    },
    {
        "id": "9f7222b58d7aa867",
        "type": "change",
        "z": "37bf65d0.2750da",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.params.temperature:0.tC",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 1120,
        "wires": [
            [
                "cd2e05edc8918421"
            ]
        ]
    },
    {
        "id": "0a0779bf0eca26c3",
        "type": "inject",
        "z": "37bf65d0.2750da",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 21 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "auto",
        "payloadType": "str",
        "x": 110,
        "y": 740,
        "wires": [
            [
                "aef16af3.f41cf8"
            ]
        ]
    },
    {
        "id": "239523e6.2e274c",
        "type": "mqtt in",
        "z": "a3306a25.d81ac8",
        "name": "shelly_temp",
        "topic": "shellies/shellyht-9555B7/sensor/temperature",
        "qos": "1",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 155,
        "y": 45,
        "wires": [
            [
                "9373bc4b.43569",
                "695ce1bb.8fcec"
            ]
        ]
    },
    {
        "id": "e969e8b5.eded78",
        "type": "debug",
        "z": "a3306a25.d81ac8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 628,
        "y": 119,
        "wires": []
    },
    {
        "id": "1f65e3ac.13358c",
        "type": "ui_gauge",
        "z": "a3306a25.d81ac8",
        "name": "",
        "group": "86d45bb5.76b4f8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Camera1",
        "label": "°C",
        "format": "{{value}}",
        "min": "10",
        "max": "35",
        "colors": [
            "#0000ff",
            "#00bf00",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "23",
        "x": 540,
        "y": 160,
        "wires": []
    },
    {
        "id": "26be6da2.3d7d02",
        "type": "ui_chart",
        "z": "a3306a25.d81ac8",
        "name": "Camera1 Temp",
        "group": "86d45bb5.76b4f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff8000",
            "#00ffff",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 580,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "5230b4d8.841bbc",
        "type": "inject",
        "z": "a3306a25.d81ac8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "shellies/shelly1-764C37/relay/0/command",
        "payload": "on",
        "payloadType": "str",
        "x": 930,
        "y": 700,
        "wires": [
            [
                "c16e076c.005a88"
            ]
        ]
    },
    {
        "id": "c16e076c.005a88",
        "type": "mqtt out",
        "z": "a3306a25.d81ac8",
        "name": "rele",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "965f3d6f.d5282",
        "x": 1184,
        "y": 677,
        "wires": []
    },
    {
        "id": "a9ecf075.ba27b",
        "type": "inject",
        "z": "a3306a25.d81ac8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "shellies/shelly1-764C37/relay/0/command",
        "payload": "off",
        "payloadType": "str",
        "x": 928,
        "y": 754,
        "wires": [
            [
                "c16e076c.005a88"
            ]
        ]
    },
    {
        "id": "6e8dee0c.afcd",
        "type": "inject",
        "z": "a3306a25.d81ac8",
        "name": "toggle",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "shellies/shelly1-764C37/relay/0/command",
        "payload": "toggle",
        "payloadType": "str",
        "x": 928,
        "y": 646,
        "wires": [
            [
                "c16e076c.005a88"
            ]
        ]
    },
    {
        "id": "1592d3a6.d1ca0c",
        "type": "mqtt in",
        "z": "a3306a25.d81ac8",
        "name": "relay",
        "topic": "shellies/shelly1-764C37/relay/0",
        "qos": "0",
        "broker": "965f3d6f.d5282",
        "inputs": 0,
        "x": 890,
        "y": 360,
        "wires": [
            [
                "1572b970.c9d977",
                "d2db07f333374bdd",
                "298209d33dbef905"
            ]
        ]
    },
    {
        "id": "73da35a4.d3745c",
        "type": "mqtt out",
        "z": "a3306a25.d81ac8",
        "name": "",
        "topic": "CIR/setpoint/studio",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "965f3d6f.d5282",
        "x": 470,
        "y": 820,
        "wires": []
    },
    {
        "id": "c47cc807.d6a328",
        "type": "ui_gauge",
        "z": "a3306a25.d81ac8",
        "d": true,
        "name": "",
        "group": "24fb100a.8adb6",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Manule",
        "label": "units",
        "format": "{{value}}",
        "min": "15",
        "max": "23",
        "colors": [
            "#4b42ff",
            "#05d500",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "21",
        "className": "",
        "x": 480,
        "y": 900,
        "wires": []
    },
    {
        "id": "80c0d66.1d33328",
        "type": "mqtt out",
        "z": "a3306a25.d81ac8",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "965f3d6f.d5282",
        "x": 490,
        "y": 620,
        "wires": []
    },
    {
        "id": "aa71b43.d404148",
        "type": "debug",
        "z": "a3306a25.d81ac8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 497,
        "y": 730,
        "wires": []
    },
    {
        "id": "fce8e734.9daa18",
        "type": "ui_text",
        "z": "a3306a25.d81ac8",
        "group": "24fb100a.8adb6",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Setpoint camera1 Auto view",
        "label": "Setpoint Temperatura camera1",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 477,
        "y": 537,
        "wires": []
    },
    {
        "id": "eaecdc39.5bc9c",
        "type": "mqtt in",
        "z": "a3306a25.d81ac8",
        "name": "setpoint auto view",
        "topic": "CIR/setpoint/view/studio",
        "qos": "0",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "inputs": 0,
        "x": 198,
        "y": 536,
        "wires": [
            [
                "fce8e734.9daa18"
            ]
        ]
    },
    {
        "id": "8ddb43e.aa2a5c",
        "type": "mqtt in",
        "z": "a3306a25.d81ac8",
        "name": "setpoint PID",
        "topic": "CIR/setpoint/pid/studio",
        "qos": "0",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "inputs": 0,
        "x": 173,
        "y": 450,
        "wires": [
            [
                "26be6da2.3d7d02",
                "489d3756.0fbf58"
            ]
        ]
    },
    {
        "id": "489d3756.0fbf58",
        "type": "debug",
        "z": "a3306a25.d81ac8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 456,
        "y": 465,
        "wires": []
    },
    {
        "id": "ea007954.97b398",
        "type": "ui_chart",
        "z": "a3306a25.d81ac8",
        "name": "camera Nik PID",
        "group": "86d45bb5.76b4f8",
        "order": 4,
        "width": "0",
        "height": "0",
        "label": "PID out",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff8000",
            "#00ffff",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1241,
        "y": 509,
        "wires": [
            []
        ]
    },
    {
        "id": "1572b970.c9d977",
        "type": "function",
        "z": "a3306a25.d81ac8",
        "name": "onoff",
        "func": "if (msg.payload === \"on\") {\n    var newMsg = { payload: '1' };\n    return newMsg;\n} else {\n    var newMsg = { payload: '0' };\n    return newMsg\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1050,
        "y": 360,
        "wires": [
            [
                "4b99b56a.8a7c1c"
            ]
        ]
    },
    {
        "id": "4b99b56a.8a7c1c",
        "type": "debug",
        "z": "a3306a25.d81ac8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1230,
        "y": 360,
        "wires": []
    },
    {
        "id": "ed58e167.7a2b2",
        "type": "inject",
        "z": "a3306a25.d81ac8",
        "name": "reset graph",
        "props": [
            {
                "p": "payload",
                "v": "[]",
                "vt": "json"
            },
            {
                "p": "topic",
                "v": "shellies/shelly1-B97B5D/relay/0",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "shellies/shelly1-B97B5D/relay/0",
        "payload": "[]",
        "payloadType": "json",
        "x": 192,
        "y": 390,
        "wires": [
            [
                "26be6da2.3d7d02",
                "ea007954.97b398"
            ]
        ]
    },
    {
        "id": "c2cc46c8.57b6e8",
        "type": "function",
        "z": "a3306a25.d81ac8",
        "name": "topic temp",
        "func": "var newMsg = { topic: \"Temp. Camera Nicola\", payload: msg.payload };\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 260,
        "wires": [
            [
                "26be6da2.3d7d02"
            ]
        ]
    },
    {
        "id": "16aa6e73.6711d2",
        "type": "mqtt in",
        "z": "a3306a25.d81ac8",
        "name": "PID out",
        "topic": "CIR/pid/studio",
        "qos": "0",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "inputs": 0,
        "x": 933,
        "y": 553,
        "wires": [
            [
                "ea007954.97b398",
                "35e133c3.d9015c"
            ]
        ]
    },
    {
        "id": "35e133c3.d9015c",
        "type": "debug",
        "z": "a3306a25.d81ac8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1194,
        "y": 563,
        "wires": []
    },
    {
        "id": "920a0362.f094f",
        "type": "ui_numeric",
        "z": "a3306a25.d81ac8",
        "name": "",
        "label": "T. manuale",
        "tooltip": "",
        "group": "24fb100a.8adb6",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "format": "{{value}}",
        "min": "15",
        "max": "23",
        "step": "0.5",
        "x": 208,
        "y": 835,
        "wires": [
            [
                "73da35a4.d3745c",
                "c47cc807.d6a328"
            ]
        ]
    },
    {
        "id": "9373bc4b.43569",
        "type": "function",
        "z": "a3306a25.d81ac8",
        "name": "chart",
        "func": "var newMsg = { topic: msg.topic, payload: msg.payload.substring(1) };\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "98f9605f.9713a",
        "type": "mqtt in",
        "z": "a3306a25.d81ac8",
        "name": "Sensor temp",
        "topic": "CIR/sensor_temp/studio",
        "qos": "0",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "inputs": 0,
        "x": 144,
        "y": 129,
        "wires": [
            [
                "e969e8b5.eded78",
                "c2cc46c8.57b6e8",
                "f0143fb6.bc142",
                "1f65e3ac.13358c"
            ]
        ]
    },
    {
        "id": "f0143fb6.bc142",
        "type": "link out",
        "z": "a3306a25.d81ac8",
        "name": "temp camera1",
        "links": [
            "1ff2b452.db2fcc"
        ],
        "x": 585,
        "y": 80,
        "wires": []
    },
    {
        "id": "695ce1bb.8fcec",
        "type": "debug",
        "z": "a3306a25.d81ac8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 330,
        "y": 60,
        "wires": []
    },
    {
        "id": "5b8cca39.b5d9a4",
        "type": "ui_switch",
        "z": "a3306a25.d81ac8",
        "name": "",
        "label": "Riscaldamento automatico",
        "tooltip": "",
        "group": "24fb100a.8adb6",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "CIR/setpoint/mode/studio",
        "topicType": "str",
        "style": "",
        "onvalue": "auto",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "manuale",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 251,
        "y": 677,
        "wires": [
            [
                "80c0d66.1d33328",
                "aa71b43.d404148"
            ]
        ]
    },
    {
        "id": "bb8ae277.60a18",
        "type": "mqtt in",
        "z": "a3306a25.d81ac8",
        "name": "Diag studio",
        "topic": "CIR/diag/studio",
        "qos": "0",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "inputs": 0,
        "x": 860,
        "y": 60,
        "wires": [
            [
                "99e2f90c4e6c2391"
            ]
        ]
    },
    {
        "id": "35b7b9c4.fb4816",
        "type": "mqtt in",
        "z": "a3306a25.d81ac8",
        "name": "Abilitazione studio",
        "topic": "CIR/enable/raw/studio",
        "qos": "0",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 890,
        "y": 140,
        "wires": [
            [
                "3771d938.6e1246",
                "65781d872365a2e7"
            ]
        ]
    },
    {
        "id": "3771d938.6e1246",
        "type": "ui_switch",
        "z": "a3306a25.d81ac8",
        "name": "",
        "label": "Abilitazione",
        "tooltip": "",
        "group": "e6fa4a1e.0ac0e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "CIR/enable/state/studio",
        "style": "",
        "onvalue": "True",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "False",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 1110,
        "y": 140,
        "wires": [
            [
                "d224020.bb20c"
            ]
        ]
    },
    {
        "id": "d224020.bb20c",
        "type": "mqtt out",
        "z": "a3306a25.d81ac8",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "965f3d6f.d5282",
        "x": 1270,
        "y": 140,
        "wires": []
    },
    {
        "id": "65781d872365a2e7",
        "type": "ui_led",
        "z": "a3306a25.d81ac8",
        "order": 1,
        "group": "e6fa4a1e.0ac0e",
        "width": 0,
        "height": 0,
        "label": "Attivazione",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "False",
                "valueType": "str"
            },
            {
                "color": "#49e449",
                "value": "True",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "abilitazione led",
        "x": 1120,
        "y": 220,
        "wires": []
    },
    {
        "id": "99e2f90c4e6c2391",
        "type": "ui_led",
        "z": "a3306a25.d81ac8",
        "order": 3,
        "group": "e6fa4a1e.0ac0e",
        "width": 0,
        "height": 0,
        "label": "Diagnosi",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "str"
            },
            {
                "color": "#49e449",
                "value": "true",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "Error",
        "x": 1050,
        "y": 60,
        "wires": []
    },
    {
        "id": "d2db07f333374bdd",
        "type": "link out",
        "z": "a3306a25.d81ac8",
        "name": "stato rele Nicola",
        "mode": "link",
        "links": [
            "206604612bb260bd"
        ],
        "x": 1015,
        "y": 260,
        "wires": []
    },
    {
        "id": "298209d33dbef905",
        "type": "ui_led",
        "z": "a3306a25.d81ac8",
        "order": 4,
        "group": "e6fa4a1e.0ac0e",
        "width": 0,
        "height": 0,
        "label": "Stato Riscaldamento",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#0000ff",
                "value": "off",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "on",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "led rele Nik",
        "x": 1070,
        "y": 300,
        "wires": []
    },
    {
        "id": "8a089b16.24a518",
        "type": "mqtt in",
        "z": "31446cab.0a54a4",
        "name": "shelly_temp",
        "topic": "shellies/shelly1-E09806952AC7/ext_temperature/0",
        "qos": "1",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 40,
        "wires": [
            [
                "b9b94572.173778"
            ]
        ]
    },
    {
        "id": "a44cc72b.bc2ce8",
        "type": "debug",
        "z": "31446cab.0a54a4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 603,
        "y": 114,
        "wires": []
    },
    {
        "id": "7ab0f4aa.6ece3c",
        "type": "ui_gauge",
        "z": "31446cab.0a54a4",
        "name": "",
        "group": "4b9341ac.5cfd9",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Camera2",
        "label": "°C",
        "format": "{{value}}",
        "min": "10",
        "max": "35",
        "colors": [
            "#0000ff",
            "#00bf00",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "23",
        "x": 539,
        "y": 171,
        "wires": []
    },
    {
        "id": "65879b2.41f2264",
        "type": "ui_chart",
        "z": "31446cab.0a54a4",
        "name": "Camera2 Temp",
        "group": "4b9341ac.5cfd9",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff8000",
            "#00ffff",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 500,
        "y": 219,
        "wires": [
            []
        ]
    },
    {
        "id": "9b31fdd0.176b4",
        "type": "inject",
        "z": "31446cab.0a54a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "shellies/shelly1-E09806952AC7/relay/0/command",
        "payload": "on",
        "payloadType": "str",
        "x": 950,
        "y": 640,
        "wires": [
            [
                "554f6590.f80f8c"
            ]
        ]
    },
    {
        "id": "554f6590.f80f8c",
        "type": "mqtt out",
        "z": "31446cab.0a54a4",
        "name": "rele",
        "topic": "",
        "qos": "0",
        "retain": "",
        "broker": "965f3d6f.d5282",
        "x": 1204,
        "y": 617,
        "wires": []
    },
    {
        "id": "78c6af6d.f7d98",
        "type": "inject",
        "z": "31446cab.0a54a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "shellies/shelly1-E09806952AC7/relay/0/command",
        "payload": "off",
        "payloadType": "str",
        "x": 948,
        "y": 694,
        "wires": [
            [
                "554f6590.f80f8c"
            ]
        ]
    },
    {
        "id": "86f9ff57.594ce",
        "type": "inject",
        "z": "31446cab.0a54a4",
        "name": "toggle",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "shellies/shelly1-E09806952AC7/relay/0/command",
        "payload": "toggle",
        "payloadType": "str",
        "x": 948,
        "y": 586,
        "wires": [
            [
                "554f6590.f80f8c"
            ]
        ]
    },
    {
        "id": "8a7e62e8.f81d7",
        "type": "mqtt in",
        "z": "31446cab.0a54a4",
        "name": "relay",
        "topic": "shellies/shelly1-E09806952AC7/relay/0",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "965f3d6f.d5282",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 890,
        "y": 300,
        "wires": [
            [
                "96088b9.6ce6b78",
                "2fce3f79e87ee2eb",
                "0b7a2dc7fedb0537"
            ]
        ]
    },
    {
        "id": "def2babe.6fa298",
        "type": "ui_gauge",
        "z": "31446cab.0a54a4",
        "d": true,
        "name": "",
        "group": "4d55f947.57e0d8",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Manule",
        "label": "units",
        "format": "{{value}}",
        "min": "15",
        "max": "23",
        "colors": [
            "#4b42ff",
            "#05d500",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "21",
        "className": "",
        "x": 655,
        "y": 802,
        "wires": []
    },
    {
        "id": "ad01abe9.af5808",
        "type": "mqtt out",
        "z": "31446cab.0a54a4",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "965f3d6f.d5282",
        "x": 474,
        "y": 498,
        "wires": []
    },
    {
        "id": "9ee21b69.de87d8",
        "type": "ui_switch",
        "z": "31446cab.0a54a4",
        "name": "",
        "label": "Riscaldamento automatico",
        "tooltip": "",
        "group": "4d55f947.57e0d8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "CIR/setpoint/mode/camera2",
        "topicType": "str",
        "style": "",
        "onvalue": "auto",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "manuale",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 245,
        "y": 554,
        "wires": [
            [
                "ad01abe9.af5808",
                "f5e9278c.1f3488"
            ]
        ]
    },
    {
        "id": "f5e9278c.1f3488",
        "type": "debug",
        "z": "31446cab.0a54a4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 481,
        "y": 608,
        "wires": []
    },
    {
        "id": "1d8040ed.f9131f",
        "type": "ui_text",
        "z": "31446cab.0a54a4",
        "group": "4d55f947.57e0d8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Setpoint camera2 Auto view",
        "label": "Setpoint Temperatura camera2",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 497,
        "y": 376,
        "wires": []
    },
    {
        "id": "a7e7889f.755008",
        "type": "mqtt in",
        "z": "31446cab.0a54a4",
        "name": "setpoint auto view",
        "topic": "CIR/setpoint/view/camera2",
        "qos": "0",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "inputs": 0,
        "x": 218,
        "y": 375,
        "wires": [
            [
                "1d8040ed.f9131f"
            ]
        ]
    },
    {
        "id": "be2fec08.d2c2d",
        "type": "mqtt in",
        "z": "31446cab.0a54a4",
        "name": "setpoint PID",
        "topic": "CIR/setpoint/pid/camera2",
        "qos": "0",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "inputs": 0,
        "x": 193,
        "y": 289,
        "wires": [
            [
                "65879b2.41f2264",
                "27b5e07d.d35a6"
            ]
        ]
    },
    {
        "id": "27b5e07d.d35a6",
        "type": "debug",
        "z": "31446cab.0a54a4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 476,
        "y": 304,
        "wires": []
    },
    {
        "id": "72ee61d7.75546",
        "type": "ui_chart",
        "z": "31446cab.0a54a4",
        "name": "camera Andrea PID",
        "group": "4b9341ac.5cfd9",
        "order": 4,
        "width": "0",
        "height": "0",
        "label": "PID out",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff8000",
            "#00ffff",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1230,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "96088b9.6ce6b78",
        "type": "function",
        "z": "31446cab.0a54a4",
        "name": "onoff",
        "func": "if (msg.payload === \"on\") {\n    var newMsg = { payload: '1' };\n    return newMsg;\n} else {\n    var newMsg = { payload: '0' };\n    return newMsg\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1050,
        "y": 340,
        "wires": [
            [
                "b2f32d93.48ff4"
            ]
        ]
    },
    {
        "id": "b2f32d93.48ff4",
        "type": "debug",
        "z": "31446cab.0a54a4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1230,
        "y": 340,
        "wires": []
    },
    {
        "id": "b1d7b414.d6c1f8",
        "type": "inject",
        "z": "31446cab.0a54a4",
        "name": "reset graph",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "shellies/shelly1-E09806952AC7/relay/0",
        "payload": "[]",
        "payloadType": "json",
        "x": 212,
        "y": 229,
        "wires": [
            [
                "65879b2.41f2264",
                "72ee61d7.75546"
            ]
        ]
    },
    {
        "id": "a613154a.c907c8",
        "type": "function",
        "z": "31446cab.0a54a4",
        "name": "topic temp",
        "func": "var newMsg = { topic: \"Temp. Camera Andrea\", payload: msg.payload };\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 272,
        "y": 183,
        "wires": [
            [
                "65879b2.41f2264"
            ]
        ]
    },
    {
        "id": "7b88ecd9.1d03a4",
        "type": "mqtt in",
        "z": "31446cab.0a54a4",
        "name": "PID out",
        "topic": "CIR/pid/camera2",
        "qos": "0",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "inputs": 0,
        "x": 953,
        "y": 493,
        "wires": [
            [
                "72ee61d7.75546",
                "14f91193.b0148e"
            ]
        ]
    },
    {
        "id": "14f91193.b0148e",
        "type": "debug",
        "z": "31446cab.0a54a4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1214,
        "y": 503,
        "wires": []
    },
    {
        "id": "b9b94572.173778",
        "type": "function",
        "z": "31446cab.0a54a4",
        "name": "chart",
        "func": "var newMsg = { topic: msg.topic, payload: msg.payload.substring(1) };\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 319,
        "y": 38,
        "wires": [
            []
        ]
    },
    {
        "id": "e17a85d7.20e128",
        "type": "mqtt in",
        "z": "31446cab.0a54a4",
        "name": "Sensor temp",
        "topic": "CIR/sensor_temp/camera2",
        "qos": "0",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "inputs": 0,
        "x": 119,
        "y": 124,
        "wires": [
            [
                "7ab0f4aa.6ece3c",
                "a44cc72b.bc2ce8",
                "a613154a.c907c8",
                "25e50c9f.080154"
            ]
        ]
    },
    {
        "id": "25e50c9f.080154",
        "type": "link out",
        "z": "31446cab.0a54a4",
        "name": "temp camera2",
        "links": [
            "b836b9f9.f03518",
            "82cab67b.07dbe8"
        ],
        "x": 565,
        "y": 80,
        "wires": []
    },
    {
        "id": "e62b7ac8.d04898",
        "type": "mqtt in",
        "z": "31446cab.0a54a4",
        "name": "Diag camera2",
        "topic": "CIR/diag/camera2",
        "qos": "0",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "inputs": 0,
        "x": 870,
        "y": 60,
        "wires": [
            [
                "fb9a00f41ed58381"
            ]
        ]
    },
    {
        "id": "1ca7d264.4b1a3e",
        "type": "mqtt in",
        "z": "31446cab.0a54a4",
        "name": "Abilitazione camera2",
        "topic": "CIR/enable/raw/camera2",
        "qos": "0",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 890,
        "y": 140,
        "wires": [
            [
                "30114d23.75ffc2",
                "c66623a057dcd30f"
            ]
        ]
    },
    {
        "id": "30114d23.75ffc2",
        "type": "ui_switch",
        "z": "31446cab.0a54a4",
        "name": "",
        "label": "Abilitazione",
        "tooltip": "",
        "group": "4002d468.7f34c4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "CIR/enable/state/camera2",
        "style": "",
        "onvalue": "True",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "False",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 1090,
        "y": 200,
        "wires": [
            [
                "65880c93.1782f4"
            ]
        ]
    },
    {
        "id": "65880c93.1782f4",
        "type": "mqtt out",
        "z": "31446cab.0a54a4",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "965f3d6f.d5282",
        "x": 1270,
        "y": 200,
        "wires": []
    },
    {
        "id": "c66623a057dcd30f",
        "type": "ui_led",
        "z": "31446cab.0a54a4",
        "order": 1,
        "group": "4002d468.7f34c4",
        "width": 0,
        "height": 0,
        "label": "Attivazione",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "False",
                "valueType": "str"
            },
            {
                "color": "#49e449",
                "value": "True",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "abilitazione led",
        "x": 1120,
        "y": 140,
        "wires": []
    },
    {
        "id": "fb9a00f41ed58381",
        "type": "ui_led",
        "z": "31446cab.0a54a4",
        "order": 3,
        "group": "4002d468.7f34c4",
        "width": 0,
        "height": 0,
        "label": "Diagnosi",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "str"
            },
            {
                "color": "#49e449",
                "value": "true",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "Error",
        "x": 1050,
        "y": 60,
        "wires": []
    },
    {
        "id": "7a149fafb697b3e6",
        "type": "ui_numeric",
        "z": "31446cab.0a54a4",
        "name": "",
        "label": "T. manuale",
        "tooltip": "",
        "group": "4d55f947.57e0d8",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "format": "{{value}}",
        "min": "15",
        "max": "23",
        "step": "0.5",
        "x": 190,
        "y": 740,
        "wires": [
            [
                "def2babe.6fa298",
                "e44bfe17.72ff8"
            ]
        ]
    },
    {
        "id": "e44bfe17.72ff8",
        "type": "mqtt out",
        "z": "31446cab.0a54a4",
        "name": "",
        "topic": "CIR/setpoint/camera2",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "965f3d6f.d5282",
        "x": 693,
        "y": 716,
        "wires": []
    },
    {
        "id": "2fce3f79e87ee2eb",
        "type": "link out",
        "z": "31446cab.0a54a4",
        "name": "stato rele Andrea",
        "mode": "link",
        "links": [
            "d9b62ab33251ae7b"
        ],
        "x": 1015,
        "y": 300,
        "wires": []
    },
    {
        "id": "0b7a2dc7fedb0537",
        "type": "ui_led",
        "z": "31446cab.0a54a4",
        "order": 4,
        "group": "4002d468.7f34c4",
        "width": 0,
        "height": 0,
        "label": "Stato Riscaldamento",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#0000ff",
                "value": "off",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "on",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "led rele Andrea",
        "x": 1080,
        "y": 260,
        "wires": []
    },
    {
        "id": "356a21ef.44b63e",
        "type": "mqtt in",
        "z": "4c6b6b8f.28f984",
        "name": "shelly_temp",
        "topic": "shellies/shellyht-95705B/sensor/temperature",
        "qos": "1",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "7930fda3.2eb594",
        "type": "debug",
        "z": "4c6b6b8f.28f984",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 510,
        "y": 140,
        "wires": []
    },
    {
        "id": "eb3d994e.e388c8",
        "type": "ui_gauge",
        "z": "4c6b6b8f.28f984",
        "name": "",
        "group": "bc9a3e3a.19436",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Camera matrimoniale",
        "label": "°C",
        "format": "{{value}}",
        "min": "10",
        "max": "35",
        "colors": [
            "#0000ff",
            "#00bf00",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "23",
        "x": 580,
        "y": 180,
        "wires": []
    },
    {
        "id": "d4417a8c.c46d38",
        "type": "ui_chart",
        "z": "4c6b6b8f.28f984",
        "name": "Camera matrimoniale Temp",
        "group": "bc9a3e3a.19436",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff8000",
            "#00ffff",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 541,
        "y": 228,
        "wires": [
            []
        ]
    },
    {
        "id": "a2ee353b.82a4a8",
        "type": "inject",
        "z": "4c6b6b8f.28f984",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "shellies/shelly1-E09806951B11/relay/0/command",
        "payload": "on",
        "payloadType": "str",
        "x": 930,
        "y": 700,
        "wires": [
            [
                "41831e6f.17522"
            ]
        ]
    },
    {
        "id": "41831e6f.17522",
        "type": "mqtt out",
        "z": "4c6b6b8f.28f984",
        "name": "rele",
        "topic": "",
        "qos": "0",
        "retain": "",
        "broker": "965f3d6f.d5282",
        "x": 1184,
        "y": 677,
        "wires": []
    },
    {
        "id": "e0336606.dc4678",
        "type": "inject",
        "z": "4c6b6b8f.28f984",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "shellies/shelly1-E09806951B11/relay/0/command",
        "payload": "off",
        "payloadType": "str",
        "x": 928,
        "y": 754,
        "wires": [
            [
                "41831e6f.17522"
            ]
        ]
    },
    {
        "id": "b3d7b025.1b59a",
        "type": "inject",
        "z": "4c6b6b8f.28f984",
        "name": "toggle",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "shellies/shelly1-E09806951B11/relay/0/command",
        "payload": "toggle",
        "payloadType": "str",
        "x": 928,
        "y": 646,
        "wires": [
            [
                "41831e6f.17522"
            ]
        ]
    },
    {
        "id": "1c60129f.ed7aad",
        "type": "mqtt in",
        "z": "4c6b6b8f.28f984",
        "name": "relay",
        "topic": "shellies/shelly1-E09806951B11/relay/0",
        "qos": "0",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "inputs": 0,
        "x": 890,
        "y": 300,
        "wires": [
            [
                "51b90ec2.efa3a",
                "80bc1df6b7ade61b",
                "32c219e50211e636"
            ]
        ]
    },
    {
        "id": "82348f52.54f2a",
        "type": "mqtt out",
        "z": "4c6b6b8f.28f984",
        "name": "",
        "topic": "CIR/setpoint/camera_mat",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "965f3d6f.d5282",
        "x": 703,
        "y": 716,
        "wires": []
    },
    {
        "id": "72b6238d.0924ec",
        "type": "ui_gauge",
        "z": "4c6b6b8f.28f984",
        "d": true,
        "name": "",
        "group": "46340ca7.6bd7e4",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Manule",
        "label": "units",
        "format": "{{value}}",
        "min": "15",
        "max": "23",
        "colors": [
            "#4b42ff",
            "#05d500",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "21",
        "className": "",
        "x": 655,
        "y": 802,
        "wires": []
    },
    {
        "id": "f7fad614.941058",
        "type": "mqtt out",
        "z": "4c6b6b8f.28f984",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "965f3d6f.d5282",
        "x": 475,
        "y": 507,
        "wires": []
    },
    {
        "id": "7600ca1e.6b5c94",
        "type": "ui_switch",
        "z": "4c6b6b8f.28f984",
        "name": "",
        "label": "Riscaldamento automatico",
        "tooltip": "",
        "group": "46340ca7.6bd7e4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "CIR/setpoint/mode/camera_mat",
        "topicType": "str",
        "style": "",
        "onvalue": "auto",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "manuale",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 180,
        "y": 560,
        "wires": [
            [
                "f7fad614.941058",
                "f85954f3.4db6d8"
            ]
        ]
    },
    {
        "id": "f85954f3.4db6d8",
        "type": "debug",
        "z": "4c6b6b8f.28f984",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 482,
        "y": 617,
        "wires": []
    },
    {
        "id": "e065aadc.988098",
        "type": "ui_text",
        "z": "4c6b6b8f.28f984",
        "group": "46340ca7.6bd7e4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Setpoint camera mat Auto view",
        "label": "Setpoint Temperatura camera matrimoniale",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 508,
        "y": 385,
        "wires": []
    },
    {
        "id": "7d73e40.cfc121c",
        "type": "mqtt in",
        "z": "4c6b6b8f.28f984",
        "name": "setpoint auto view",
        "topic": "CIR/setpoint/view/camera_mat",
        "qos": "0",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "inputs": 0,
        "x": 219,
        "y": 384,
        "wires": [
            [
                "e065aadc.988098"
            ]
        ]
    },
    {
        "id": "77a8b120.bd038",
        "type": "mqtt in",
        "z": "4c6b6b8f.28f984",
        "name": "setpoint PID",
        "topic": "CIR/setpoint/pid/camera_mat",
        "qos": "0",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "inputs": 0,
        "x": 194,
        "y": 298,
        "wires": [
            [
                "d4417a8c.c46d38",
                "500f3441.90f7bc"
            ]
        ]
    },
    {
        "id": "500f3441.90f7bc",
        "type": "debug",
        "z": "4c6b6b8f.28f984",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 477,
        "y": 313,
        "wires": []
    },
    {
        "id": "60968c8f.019dc4",
        "type": "ui_chart",
        "z": "4c6b6b8f.28f984",
        "name": "camera matrimoniale PID",
        "group": "bc9a3e3a.19436",
        "order": 4,
        "width": "0",
        "height": "0",
        "label": "PID out",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff8000",
            "#00ffff",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1190,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "51b90ec2.efa3a",
        "type": "function",
        "z": "4c6b6b8f.28f984",
        "name": "onoff",
        "func": "if (msg.payload === \"on\") {\n    var newMsg = { payload: '1' };\n    return newMsg;\n} else {\n    var newMsg = { payload: '0' };\n    return newMsg\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 400,
        "wires": [
            [
                "72667c87.216614"
            ]
        ]
    },
    {
        "id": "72667c87.216614",
        "type": "debug",
        "z": "4c6b6b8f.28f984",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1210,
        "y": 400,
        "wires": []
    },
    {
        "id": "c78389c8.f25168",
        "type": "inject",
        "z": "4c6b6b8f.28f984",
        "name": "reset graph",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "shellies/shelly1-E09806952AC7/relay/0",
        "payload": "[]",
        "payloadType": "json",
        "x": 213,
        "y": 238,
        "wires": [
            [
                "d4417a8c.c46d38",
                "60968c8f.019dc4"
            ]
        ]
    },
    {
        "id": "576f71c5.be4d2",
        "type": "function",
        "z": "4c6b6b8f.28f984",
        "name": "topic temp",
        "func": "var newMsg = { topic: \"Temp. Camera Mat\", payload: msg.payload };\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 273,
        "y": 192,
        "wires": [
            [
                "d4417a8c.c46d38"
            ]
        ]
    },
    {
        "id": "65ffb1ea.c0035",
        "type": "mqtt in",
        "z": "4c6b6b8f.28f984",
        "name": "PID out",
        "topic": "CIR/pid/camera_mat",
        "qos": "0",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "inputs": 0,
        "x": 933,
        "y": 553,
        "wires": [
            [
                "60968c8f.019dc4",
                "b13fef07.ad2d"
            ]
        ]
    },
    {
        "id": "b13fef07.ad2d",
        "type": "debug",
        "z": "4c6b6b8f.28f984",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1194,
        "y": 563,
        "wires": []
    },
    {
        "id": "af2016f8.112488",
        "type": "ui_numeric",
        "z": "4c6b6b8f.28f984",
        "name": "",
        "label": "T. manuale",
        "tooltip": "",
        "group": "46340ca7.6bd7e4",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "format": "{{value}}",
        "min": "15",
        "max": "23",
        "step": "0.5",
        "x": 203,
        "y": 730,
        "wires": [
            [
                "72b6238d.0924ec",
                "82348f52.54f2a"
            ]
        ]
    },
    {
        "id": "73af228c.42c5ac",
        "type": "function",
        "z": "4c6b6b8f.28f984",
        "name": "chart",
        "func": "var newMsg = { topic: msg.topic, payload: msg.payload.substring(1) };\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "e755861b.763468",
        "type": "mqtt in",
        "z": "4c6b6b8f.28f984",
        "name": "Sensor temp",
        "topic": "CIR/sensor_temp/camera_mat",
        "qos": "0",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "inputs": 0,
        "x": 120,
        "y": 133,
        "wires": [
            [
                "eb3d994e.e388c8",
                "7930fda3.2eb594",
                "576f71c5.be4d2",
                "6f30c2b7.575e5c"
            ]
        ]
    },
    {
        "id": "6f30c2b7.575e5c",
        "type": "link out",
        "z": "4c6b6b8f.28f984",
        "name": "temp camera matrimoniale",
        "links": [
            "43979795.1204b8"
        ],
        "x": 455,
        "y": 80,
        "wires": []
    },
    {
        "id": "3c0d4ca.89b5334",
        "type": "mqtt in",
        "z": "4c6b6b8f.28f984",
        "name": "Diag camera mat",
        "topic": "CIR/diag/camera_mat",
        "qos": "0",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "inputs": 0,
        "x": 840,
        "y": 60,
        "wires": [
            [
                "00380937ff2633fa"
            ]
        ]
    },
    {
        "id": "d3bfea88.5553b8",
        "type": "mqtt in",
        "z": "4c6b6b8f.28f984",
        "name": "Abilitazione camera_mat",
        "topic": "CIR/enable/raw/camera_mat",
        "qos": "0",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 870,
        "y": 140,
        "wires": [
            [
                "67d292fa.a86dec",
                "c249ea84c37c019a"
            ]
        ]
    },
    {
        "id": "67d292fa.a86dec",
        "type": "ui_switch",
        "z": "4c6b6b8f.28f984",
        "name": "",
        "label": "Abilitazione",
        "tooltip": "",
        "group": "138f4f49.14a7c9",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "CIR/enable/state/camera_mat",
        "style": "",
        "onvalue": "True",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "False",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 1110,
        "y": 220,
        "wires": [
            [
                "d7744ec6.5b64e"
            ]
        ]
    },
    {
        "id": "d7744ec6.5b64e",
        "type": "mqtt out",
        "z": "4c6b6b8f.28f984",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "965f3d6f.d5282",
        "x": 1290,
        "y": 220,
        "wires": []
    },
    {
        "id": "00380937ff2633fa",
        "type": "ui_led",
        "z": "4c6b6b8f.28f984",
        "order": 3,
        "group": "138f4f49.14a7c9",
        "width": 0,
        "height": 0,
        "label": "Diagnosi",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "str"
            },
            {
                "color": "#49e449",
                "value": "true",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "Error",
        "x": 1050,
        "y": 60,
        "wires": []
    },
    {
        "id": "c249ea84c37c019a",
        "type": "ui_led",
        "z": "4c6b6b8f.28f984",
        "order": 1,
        "group": "138f4f49.14a7c9",
        "width": 0,
        "height": 0,
        "label": "Attivazione",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "False",
                "valueType": "str"
            },
            {
                "color": "#49e449",
                "value": "True",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "abilitazione led",
        "x": 1120,
        "y": 140,
        "wires": []
    },
    {
        "id": "80bc1df6b7ade61b",
        "type": "link out",
        "z": "4c6b6b8f.28f984",
        "name": "stato rele camera mat",
        "mode": "link",
        "links": [
            "e051e33e0c0c8519"
        ],
        "x": 1105,
        "y": 300,
        "wires": []
    },
    {
        "id": "32c219e50211e636",
        "type": "ui_led",
        "z": "4c6b6b8f.28f984",
        "order": 4,
        "group": "138f4f49.14a7c9",
        "width": 0,
        "height": 0,
        "label": "Stato Riscaldamento",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#0000ff",
                "value": "off",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "on",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "led rele Mat.",
        "x": 1130,
        "y": 340,
        "wires": []
    },
    {
        "id": "b617b1dc15361c34",
        "type": "mqtt in",
        "z": "4c6b6b8f.28f984",
        "name": "Sensor Hum",
        "topic": "shellies/shellyht-95705B/sensor/humidity",
        "qos": "0",
        "datatype": "auto",
        "broker": "965f3d6f.d5282",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 900,
        "wires": [
            [
                "0109da867532754f",
                "697f89b61dbbbb22"
            ]
        ]
    },
    {
        "id": "0109da867532754f",
        "type": "ui_gauge",
        "z": "4c6b6b8f.28f984",
        "name": "",
        "group": "83546b9fea0303a6",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Umidità Camera matrimoniale",
        "label": "°C",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#0000ff",
            "#00bf00",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "className": "",
        "x": 410,
        "y": 900,
        "wires": []
    },
    {
        "id": "4fa1e08b6747273e",
        "type": "ui_chart",
        "z": "4c6b6b8f.28f984",
        "name": "Camera matrimoniale Temp",
        "group": "83546b9fea0303a6",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Umidità",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff8000",
            "#00ffff",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "697f89b61dbbbb22",
        "type": "function",
        "z": "4c6b6b8f.28f984",
        "name": "topic temp",
        "func": "var newMsg = { topic: \"Umidità Camera Mat\", payload: msg.payload };\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 960,
        "wires": [
            [
                "4fa1e08b6747273e"
            ]
        ]
    },
    {
        "id": "4bf1bf64bf36ad9e",
        "type": "ui_text_input",
        "z": "f58c00f1e01abb9f",
        "name": "",
        "label": "Command",
        "tooltip": "",
        "group": "86a4645b0b234808",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 270,
        "y": 180,
        "wires": [
            [
                "8b631641b9ee8be1"
            ]
        ]
    },
    {
        "id": "8b631641b9ee8be1",
        "type": "websocket out",
        "z": "f58c00f1e01abb9f",
        "name": "",
        "server": "",
        "client": "26cec5113ca1a70a",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "58a8d59d26c7a37c",
        "type": "websocket in",
        "z": "f58c00f1e01abb9f",
        "name": "",
        "server": "",
        "client": "26cec5113ca1a70a",
        "x": 400,
        "y": 280,
        "wires": [
            [
                "46d1fc2b6131f22d",
                "87675389e2d4b75b"
            ]
        ]
    },
    {
        "id": "276339d684d3ce71",
        "type": "ui_table",
        "z": "f58c00f1e01abb9f",
        "group": "86a4645b0b234808",
        "name": "output table",
        "order": 3,
        "width": "24",
        "height": "5",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 1010,
        "y": 220,
        "wires": []
    },
    {
        "id": "46d1fc2b6131f22d",
        "type": "debug",
        "z": "f58c00f1e01abb9f",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 340,
        "wires": []
    },
    {
        "id": "ca0fe0204048a745",
        "type": "inject",
        "z": "f58c00f1e01abb9f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "vp",
        "payloadType": "str",
        "x": 270,
        "y": 120,
        "wires": [
            [
                "8b631641b9ee8be1"
            ]
        ]
    },
    {
        "id": "87675389e2d4b75b",
        "type": "json",
        "z": "f58c00f1e01abb9f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 790,
        "y": 280,
        "wires": [
            [
                "276339d684d3ce71",
                "65295023614fe6f5"
            ]
        ]
    },
    {
        "id": "65295023614fe6f5",
        "type": "ui_text",
        "z": "f58c00f1e01abb9f",
        "group": "86a4645b0b234808",
        "order": 2,
        "width": "24",
        "height": "5",
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1010,
        "y": 280,
        "wires": []
    }
]